

.dataContainer {
  display: flex;
  flex-wrap: wrap;
  /* width: 67rem; */
  height: 762px;
  background: none;
  overflow-y: scroll;
  overflow: none;
}
.dataContainers {
  display: flex;
  flex-wrap: wrap;
  /* width: 67rem; */
  /* height: 762px; */
  background: none;
  overflow-y: scroll;
  overflow: none;
}

.dataContainer::-webkit-scrollbar{
  width: 5px;
}

.dataContainer::-webkit-scrollbar-track {
  background: #E0C6FF;
}

.dataContainer::-webkit-scrollbar-thumb {
  background-color: #5F18D1;
  border-radius: 14px;
  border: 2px solid #5F18D1;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 180px;
  height: 180px;
  margin: 10px;
}

.cardContainer img {
  width: 170px;
  height: 170px;
  border-radius: 8px;
  /* object-fit: cover; */
}

.selected{
  border: 1px solid blue;
}

.inputWrapper{
  width: 588px;
  height: 60px;
  background-color: #fff;
  flex-direction: flex;
  justify-content: center;
  padding-left: 5px ;
  border-radius: 8px;
  margin-left: 30px;
  margin-bottom: 2px;
  padding-top: 12px;
  /* position: -webkit-sticky; /* Safari */
  /* position: sticky; */ 
  bottom: 0;
  left: 0;
  position: fixed;
    z-index: 999;

}
.inputWrappers{
  width: 588px;
  height: 60px;
  background-color: #fff;
  flex-direction: flex;
  justify-content: center;
  padding-left: 5px ;
  margin-right: 25px;
  border-radius: 8px;
  margin-bottom: 2px;
  padding-top: 12px;
  /* position: -webkit-sticky; /* Safari */
  /* position: sticky; */ 
  /* bottom: 0; */
  right: 0;
  bottom: 0;
  position: fixed;
    z-index: 999;

}

.amount, .list, .cancel{
  width: 185px;
  height: 32px;
  margin-right: 8px;
  border-radius: 24px;
}
.amount{
  color: #101010;
  border: 1px solid #101010;
  text-align: center;
}

.list, .cancel{
  color: #6A3CF5;
  border: 1px solid #6A3CF5;
  background: none;
}

.selected{
  border: 1px solid blue;
}




.buy{
  margin-left: 40px;
  width: 500px;
  height: 32px;
  margin-right: 8px;
  border-radius: 24px;
  border: 1px solid #6A3CF5;
  background: none;
}

.price{
  text-align: center;
  background: #E0C6FF;
  color: #101010;
  border-radius: 4px;
  margin-top: -20px;
  position: fixed;
  padding: 4px;
  z-index: 9991;
  font-weight: bold;
}
