.wrapper {
  width: 50%;
  background: #fffcea;
  border-radius: 8px;
  height: 767px;
  margin-bottom: 30px;
  contain: content;
}

.Text {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.Btn {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #0e76fd;
  color: #fff;
  cursor: pointer;
}

.inputWrapper {
  width: 588px;
  height: 48px;
  background-color: #fff;
  flex-direction: flex;
  justify-content: center;
  padding-left: 5px;
  border-radius: 8px;
  padding-top: 8px;
  margin-left: 30px;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  /* bottom: 2px; */
}

.amount,
.list,
.cancel {
  width: 185px;
  height: 32px;
  margin-right: 8px;
  border-radius: 24px;
}

.amount {
  color: #101010;
  border: 1px solid #101010;
  text-align: center;
}

.list,
.cancel {
  color: #6A3CF5;
  border: 1px solid #6A3CF5;
  background: none;
}